@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: #212529;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
}

nav .container .left h1 {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  width: auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #f8f9fa;
}
nav .container .left h1 span {
  color: #00bfa6;
}

nav .container .bottom a {
  text-decoration: none;
  color: #f8f9fa;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
}

nav .container .bottom a:hover {
  color: #00bfa6;
  border-bottom: #00bfa6 2px solid;
}

nav .container .right .loginForm button {
  border: none;
  background: none;
  color: #f8f9fa;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-right: 20px;
  padding: 5px 15px;
  border-bottom: 2px solid #00bfa6;
  transition: 0.3s ease;
}

nav .container .right .loginForm button:hover {
  color: #00bfa6;
  box-shadow: 0 0 10px #00bfa6;
  border-color: transparent;
}

.section1 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 80vh;
  margin: 0 auto;
  gap: 20px;
}

.section1 .container .left {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section1 .container .left h1 {
  color: #f8f9fa;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}

.section1 .container .left h1 span {
  color: #00bfa6;
}

.section1 .container .left p {
  color: #f8f9fa;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.section1 .container .right {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section1 .container .right img {
  width: 100%;
  border-top-right-radius: 20px;
}

.section2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 70vh;
  margin: 0 auto;
  gap: 20px;
}

.section2 .container .left {
  width: 50%;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section2 .container .left button {
  border: none;
  background: none;
  color: #f8f9fa;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-right: 20px;
  padding: 5px 15px;
  border-bottom: 2px solid #00bfa6;
  transition: 0.3s ease;
}

.section2 .container .left button:hover {
  color: #00bfa6;
  box-shadow: 0 0 10px #00bfa6;
  border-color: transparent;
}

.section2 .container .left h1 {
  color: #f8f9fa;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.section2 .container .right {
  width: 50%;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section2 .container .right td {
  text-align: center;
  color: #00bfa6;
}

.section2 .container .right th {
  text-align: center;
  color: white;
}

.section2 .container .right button img {
  width: 20px;
}

.section2 .container .right button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.section2 .container .right form {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 10px 0;
}

.section2 .container .right form button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
  border-bottom: 2px solid #00bfa6;
  padding: 5px 10px;
}

.section2 .container .right form button:hover {
  color: #00bfa6;
  box-shadow: 0 0 10px #00bfa6;
  border-color: transparent;
}

.section2 .container .right form input {
  border: none;
  background: none;
  color: white;
  border-bottom: 2px solid #fff;
  padding: 5px 10px;
  outline: none;
  font-size: 16px;
  width: 170px;
}

.section2 .container .right form input::placeholder {
  color: #00bfa6;
}

.section2 .container .right table {
  border-color: white;
}
